<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>Ozzy</string>

	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/Ozzy</string>
	</array>

	<key>UserName</key>
	<string>root</string>

	<key>GroupName</key>
	<string>wheel</string>

	<key>KeepAlive</key>
	<true/>

	<key>RunAtLoad</key>
	<true/>

	<key>ProcessType</key>
	<string>Interactive</string>

	<key>StandardOutPath</key>
	<string>/var/log/Ozzy.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/Ozzy.err</string>
</dict>
</plist>